@charset "UTF-8";
/* ---------- 1. Шрифты (START)---------- */
@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.otf") format("opentype"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.otf") format("opentype"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.otf") format("opentype"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
/* ---------- 1. Шрифты (END)---------- */
/* ---------- 2. Сброс CSS (START)---------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #ffffff;
  font-family: "MuseoSansCyrl-300", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  background: #ffffff;
  min-height: 660px;
  width: 1920px;
}

@media (max-width: 1200px) {
  body {
    width: 1200px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }
}

/* ---------- 2. Сброс CSS (END)---------- */
/* ---------- 3. HEADER (START)---------- */
.header_container {
  height: 100px;
  border-bottom: 1px solid rgba(152, 147, 147, 0.21);
  background: rgba(21, 10, 1, 0.21);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: url(../images/fon.png) no-repeat;
}

@media (max-width: 1200px) {
  .header_container {
    background-position: center top;
  }
}

.header_menu {
  margin: 0 auto;
  width: 61%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .header_menu {
    width: 90%;
  }
}

.header_logo {
  width: 317px;
  height: 100%;
  position: relative;
  border: 1px solid rgba(152, 147, 147, 0.21);
  background: linear-gradient(
        to right,
        #fff 7px,
        transparent 0,
        transparent calc(100% - 7px),
        #fff 0
      )
      0 0 / 100% 1px no-repeat,
    linear-gradient(
        to right,
        #fff 7px,
        transparent 0,
        transparent calc(100% - 7px),
        #fff 0
      )
      0 100% / 100% 1px no-repeat,
    linear-gradient(
        to bottom,
        #fff 7px,
        transparent 0,
        transparent calc(100% - 7px),
        #fff 0
      )
      0 0 / 1px 100% no-repeat,
    linear-gradient(
        to bottom,
        #fff 7px,
        transparent 0,
        transparent calc(100% - 7px),
        #fff 0
      )
      100% 0 / 1px 100% no-repeat;
}

.header_logo_image {
  margin: 0 auto;
  padding: 25px 18px 36px 26px;
}

.header_nav {
  width: 684px;
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "MuseoSansCyrl-300", serif;
  letter-spacing: 0.04em;
}

.nav-link:hover {
  color: #b1b1b1;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-list {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: calc(100vw - 200px);
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 37px;
    right: 37px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b1b1b1;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 200px;
    height: 380px;
    margin: 0;
    padding: 55px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "MuseoSansCyrl-300", serif;
    letter-spacing: 0.04em;
  }

  .nav-link:hover {
    color: #b1b1b1;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
    font-size: 22px;
    font-family: "MuseoSansCyrl-300", serif;
    letter-spacing: 0.04em;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #b1b1b1;
  }
}

/* ---------- 3. HEADER (END)---------- */
/* ---------- 4. MAIN (START)---------- */
.main_container {
  background: url(../images/fon.png) no-repeat;
  background-position: center -100px;
  height: 560px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main_container {
    background-position: -360px -100px;
    align-items: flex-end;
  }
}

.main_content {
  margin: 0 auto 100px;
  width: 1200px;
  display: flex;
  align-items: center;
  align-content: center;
}

@media (max-width: 768px) {
  .main_content {
    margin: 0 auto;
    width: 768px;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.main_column_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .main_column_left {
    width: 100%;
    height: 335px;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.main_title {
  padding-left: 17px;
  padding-top: 12px;
}

.main_title_image {
  width: 426px;
  height: 78px;
}

.main_start_rocket_container {
  margin-top: 82px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .main_start_rocket_container {
    padding-left: 40px;
    justify-content: flex-start;
  }
}

.main_start_button {
  width: 180px;
  height: 35px;
  position: relative;
  z-index: 0;
}

.main_start_button:hover {
  cursor: pointer;
}

.main_start_button::before,
.main_start_button::after {
  content: "";
  width: 34px;
  height: 34px;
  display: block;
  margin: 0 auto;
  position: absolute;
  background-size: 34px;
}

.main_start_button::before {
  left: 161px;
  top: -15px;
  z-index: 9;
  background-image: url(../images/02.png);
}

.main_start_button::after {
  background-image: url(../images/01.png);
  left: -15px;
  top: 16px;
  z-index: 8;
}

.main_start_button_content {
  background-image: url("../images/pryamougolnik_3_kopiya_4.png");
  font-family: "MuseoSansCyrl-100", serif;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}

.main_rocket_image {
  background-image: url(../images/figura.png);
  width: 382px;
  height: 39px;
  margin-top: 35px;
}

.main_column_right {
  width: 50%;
  padding-left: 240px;
}

@media (max-width: 1200px) {
  .main_column_right {
    padding-left: 220px;
  }
}

@media (max-width: 768px) {
  .main_column_right {
    width: 768px;
    padding-left: 0;
  }
}

.main_benefit_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 380px;
  height: 380px;
}

@media (max-width: 768px) {
  .main_benefit_container {
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 5px;
    width: 100%;
    height: 185px;
  }
}

.main_benefit {
  width: 185px;
  height: 180px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.main_benefit:hover {
  cursor: pointer;
}

.main_benefit:first-child {
  background-image: url("../images/pryamougolnik_3_kopiya_0.png");
}

.main_benefit:first-child:hover {
  background-image: url("../images/figura_4_kopiya.png");
}

.main_benefit:nth-child(2) {
  background-image: url("../images/pryamougolnik_3_kopiya.png");
}

.main_benefit:nth-child(2):hover {
  background-image: url("../images/figura_4_kopiya_2.png");
}

.main_benefit:nth-child(3) {
  background-image: url("../images/pryamougolnik_3_kopiya_3.png");
}

.main_benefit:nth-child(3):hover {
  background-image: url("../images/figura_4_kopiya_3.png");
}

.main_benefit:last-child {
  background-image: url("../images/pryamougolnik_3_kopiya_2.png");
}

.main_benefit:last-child:hover {
  background-image: url("../images/figura_4_kopiya_4.png");
}

@media (max-width: 768px) {
  .main_benefit:first-child,
  .main_benefit:nth-child(2),
  .main_benefit:nth-child(3),
  .main_benefit:last-child {
    background-image: url("../images/pryamougolnik_3_kopiya.png");
  }
  .main_benefit:first-child:hover,
  .main_benefit:nth-child(2):hover,
  .main_benefit:nth-child(3):hover,
  .main_benefit:last-child:hover {
    background-image: url("../images/figura_4_kopiya_2.png");
  }
}

.main_benefit_text {
  font-family: "MuseoSansCyrl-100", serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main_benefit_text_big_2 {
  font-family: "MuseoSansCyrl-700", serif;
  font-size: 20px;
  position: relative;
  top: 10px;
}

.main_benefit_text_big {
  font-family: "MuseoSansCyrl-700", serif;
  font-size: 60px;
  position: relative;
  top: 10px;
}
/* ---------- 4. MAIN (END)---------- */
